body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #333;
}

.table-buttons {
    margin-top: 20px;
}

.table-button {
    display: inline-block;
    background-color: #FF4500;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.table-button:hover {
    background-color: #FF6347;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

footer {
    margin-top: 30px;
    /* text-decoration: none; */
}
.a{
    text-decoration: none;
}

#menu-items {
    margin-top: 20px;
    text-align: left;
}

#menu-items .menu-item {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}
